/* Document title */
h1 {
    text-align: center;
}

/* Logo */
#main-content > div:nth-child(1) > img:nth-child(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
